:root {
  --color-light: #ffffff;
  --color-primary: #f1cdb3;
  --color-gray: #cdcdcd;
  --primary-font-base: Georgia, Times;
  --primary-font: Arial, sans-serif;
  --header-background: #262425;
}
body {
  font-family: var(--primary-font);
  margin: 0;
  background-color: var(--header-background);
  color: var(--color-light);
  background: linear-gradient(
    to right,
    #514136 0%,
    #413730 10%,
    var(--header-background) 90%
  );
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 30px 20px 0;
  box-sizing: border-box;
  width: 100%;
  padding: 60px 20px;
}
.logotip {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.logotip-title {
  font-family: var(--primary-font-base);
  font-size: 32px;
  font-weight: 400;
  color: var(--color-primary);
  letter-spacing: 1.6px;
  margin-bottom: 10px;
}
.logotip-description {
  font-family: var(--primary-font);
  font-size: 13px;
  color: var(--color-light);
  line-height: 10px;
  letter-spacing: 2.6px;
  margin: 0;
}

.header__nav {
  margin-left: auto;
}

.header__nav .nav__list {
  display: flex;
  gap: 35px;
  list-style: none;
}

.header__nav .nav__item {
  margin-left: 0;
}

.header__nav .nav__link {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 15px;
  font-family: var(--primary-font);
  transition: color 0.3s;
}

.header__nav .nav__link:hover {
  color: var(--color-light);
}

.header__nav .nav__list .nav__item:first-child .nav__link {
  color: #fafafa;
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 25px 0;
}

.hero h1 {
  letter-spacing: 1px;
  font-family: var(--primary-font-base);
  color: var(--color-light);
  margin-bottom: 42px;
  font-size: 44px;
  line-height: 60px;
  font-weight: 500;
}

.hero p,
.hero__text {
  font-size: 15px;
  color: var(--color-gray);
  margin-bottom: 42px;
  line-height: 1.6;
}
.hero p::before {
  content: "We offer to give a chance to a little and nice puppy with an extremely\A wide and open heart. He or she will love you more than anybody else\A in the world, you will see!";
  white-space: pre;
  display: block;
}

.hero__title {
  display: flex;
  flex-direction: column;
}
.hero__title-line {
  display: block;
}

.button {
  display: inline-block;
  background-color: var(--color-primary);
  color: #292929;
  text-decoration: none;
  padding: 15px 40px;
  font-size: 17px;
  font-family: var(--primary-font-base);
  border-radius: 50px;
  border: 2px solid var(--color-primary);
  transition: all 0.3s;
}
.button:hover {
  background-color: var(--color-light);
  border-color: var(--color-primary);
}

.hero__image {
  position: relative;
  left: -60px;
  /* тогда собака немного в другую сторону двигается, если убрать */
}
